<script>
    var cnt = 1;
    function saveCoach() {
        var fName = document.getElementById("fName").value;
        alert(fName);
        var lName = document.getElementById("lName").value;
        alert(lName);
        var bgrnd = document.getElementById("bgrnd").value;
        alert(bgrnd);
        var pic = document.getElementById("cpic").value;
        alert("saving coach");
        $.ajax({
            type: 'Post',
            dataType: 'json',
            url: '@Request.Url.GetLeftPart(UriPartial.Authority)/Coaches/Add',
            data: JSON.stringify({ firstName:fName, lastName: lName, profilePic: pic, bGrnd: bgrnd }),
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (data) {
                alert(data);
                closeModal();
            },
            error: function (data) {
                alert(data);
            }
        });
    }
   
    function showAddCoach() {
        document.getElementById("contentt").innerHTML = "<div><span>First Name:</span><input type=\"text\" id=\"fName\"></div>" +
                                                        "<div><span>Last Name:</span><input type=\"text\" id=\"lName\"></div>" +
                                                        "<div><span>Background:</span><textarea id=\"bgrnd\"></textarea></div>" +
                                                        "<span>Photo:</span><input id=\"cpic\" type=\"hidden\"/><br>"+
                                                        "<div style=\"width:250px;display:inline;float:left;\"><input type=\"file\" name=\"file_upload\" id=\"file_upload\" />" +
                                                        "<div style=\"float:bottom;margin-top:100px;\"><a href=\"javascript:void(0)\" class=\"btn jqShowRow\" onclick=\"saveCoach();\">Save</a><a href=\"javascript:void(0)\" class=\"btn jqShowRow\" onclick=\"closeModal();\" style=\"margin-left:20px;\">Cancel</a></div></div><div style=\"width:400px;min-width:400px;height:100%;min-height:100%;position:relative;display:inline;margin-left:30px;\" id=\"uploadedPhotos\" ><div class=\"wmk_grid\">" +
                                "<ul id=\"photoList\" style=\"width:400px;min-width:400px;min-height:100%;height:100%;float:right;\" >" +
                                "</ul>"+    
                                "</div></div>";
        $('#file_upload').uploadify({
            'swf': '\\Content\\flash\\uploadify.swf',
            'uploader': '@Request.Url.GetLeftPart(UriPartial.Authority)/Upload/UploadPhoto',
            'multi': 'false',
            'buttonText': 'Select Photo',
            'fileTypeDesc': 'Image Files',
            'fileTypeExts': '*.gif; *.jpg; *.jpeg; *.png',
            'onUploadSuccess': function (file, data, response) {
                var data = data.replace(/[\\*]/g, "/");

                var l = data.split("Images");
                var loc = "/Images" + l[1];
                var curContent = document.getElementById("photoList").innerHTML;
                curContent =  "<li  style=\"display:inline;width:237px;min-width:237px;max-width:237px;overflow:hidden;float:left;\">" +
                    "<div style=\"width:inherit;overflow:hidden;\">" +
                    "<img src='" + loc + "' alt='Uploaded Image' height=\"263\" width=\"237\" /><br>"
                                      + "  </div>"
                                   + " </li>";
                $("#cpic").val(loc);
                $("#photoList").html(curContent);
            }
          });
        showModal();
    }
</script>
      <!-- main content -->
            <div id="contentwrapper">
                <div class="main_content">
                    
                  
                    <div class="row-fluid">
                        <div class="span12">
                            <h3 class="heading">Coaches</h3>
                            <div class="btn-group sepH_b">
                                <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)" onclick="showAddCoach();"><i class="icon-plus-sign"></i>&nbsp;&nbsp;Add</a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-pencil"></i>&nbsp;&nbsp;Edit</a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-trash"></i>&nbsp;&nbsp;Delete</a></li>
                                </ul>
                            </div>
                            <table class="table table-bordered table-striped" id="smpl_tbl">
                                <thead>
                                    <tr>
                                        <th style="width:10px"></th>
                                        <th></th>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var c in ViewBag.coaches)
                                    {
                                    <tr>
                                        <td><input type="checkbox" name="row_sel" /></td>
                                        <td><img src="@c.Photo.Location" width="50" height="50" /></td>
                                        <td>@c.Account.FirstName &nbsp; @c.Account.LastName</td>
                                        <td><a href="javascript:void(0)" class="btn jqShowRow" onclick="showViewCoach(@c.CoachId);">View</a></td>
                                    </tr>
                                    }
                                   
                                </tbody>
                            </table>
                                <!-- Modal -->
                                <div id="modalRow" class="modal hide fade" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3>Row details</h3>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered table-striped" id="modal_table">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Customer</th>
                                                    <th>Status</th>
                                                    <th>Date Added</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                    
                    <!-- hide elements (for later use) -->
                    <div class="hide">
                        <!-- actions for datatables -->
                        <div class="dt_gal_actions">
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="delete_rows_dt" data-tableid="dt_gal"><i class="icon-trash"></i> Delete</a></li>
                                    <li><a href="javascript:void(0)">Lorem ipsum</a></li>
                                    <li><a href="javascript:void(0)">Lorem ipsum</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- confirmation box -->
                        <div id="confirm_dialog" class="cbox_content">
                            <div class="sepH_c tac"><strong>Are you sure you want to delete this row(s)?</strong></div>
                            <div class="tac">
                                <a href="#" class="btn btn-gebo confirm_yes">Yes</a>
                                <a href="#" class="btn confirm_no">No</a>
                            </div>
                        </div>
                    </div>
                        
                </div>
            
