
    <!-- Begin Content -->
    <section id="trainers" >
        <!-- begin SubHeader -->
        <div class="sub-header" >
            <div class="container">
                <div class="row" >
                    <ul class="sub-header-container" >
                        <li>
                            <h3 class="title">Live's short. Live passionately.</h3>
                        </li>
                        <li>
                            <ul class="custom-breadcrumb" >
                                <li><h6><a href="index.html">Home</a></h6></li>
                                <li><i class="separator entypo-play" ></i></li>
                                <li><h6>Team</h6></li>
                                <li><i class="separator entypo-play" ></i></li>
                                <li><h6>Trainers</h6></li>
                            </ul>                    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end Sub Header -->

        <!--begin All Trainers -->
        <article class="article-container">
            <div class="container grid slider-grid" >
                <div class="row" >
                    <div class="col-md-12">
                        <h2 class="article-title"> All our Coaches</h2>
                        <span class="line" >
                            <span class="sub-line" ></span>
                        </span>
                        <a class="slider-control pull-right next" href="#slider-trainers" data-slide="next"></a>
                        <a class="slider-control pull-right prev" href="#slider-trainers" data-slide="prev"></a>
                    </div>
                </div>

                <div class="row content">
                    <div id="slider-trainers" class="carousel slide">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <!-- items sets -->
                        <div class="item active">

                            <!-- item 1 -->
                            <div class="element" >
                                <div class="link" >
                                    <img src="~/Images/img/trainers/01.jpg" alt="//" />
                                </div>
                                <div class="title">
                                    <h4 class="testimonials-name" ><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Fitness/Coach?name=trainer">  1 Mike Smithson</a></h4>
                                    <h6 class="testimonials-position" ><a href="#">Boxin Coaching</a></h6>
                                    <p>Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.</p>
                                    <ul class="social" >
                                        <li><a href="#"><i class="entypo-facebook" ></i></a></li>
                                        <li><a href="#"><i class="entypo-twitter" ></i></a></li>
                                        <li><a href="#"><i class="entypo-linkedin" ></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- item 2 -->
                            <div class="element" >
                                <div class="link" >
                                    <img src="~/Images/img/trainers/01.jpg" alt="//" />
                                </div>
                                <div class="title">
                                    <h4 class="testimonials-name" ><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Fitness/Coach?name=trainer">  2 Mike Smithson</a></h4>
                                    <h6 class="testimonials-position" ><a href="#">Boxin Coaching</a></h6>
                                     <p>Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.</p>
                                    <ul class="social" >
                                        <li><a href="#"><i class="entypo-facebook" ></i></a></li>
                                        <li><a href="#"><i class="entypo-twitter" ></i></a></li>
                                        <li><a href="#"><i class="entypo-linkedin" ></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- item 3 -->
                            <div class="element" >
                                <div class="link" >
                                    <img src="~/Images/img/trainers/01.jpg" alt="//" />
                                </div>
                                <div class="title">
                                    <h4 class="testimonials-name" ><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Fitness/Coach?name=trainer"> 3 Mike Smithson</a></h4>
                                    <h6 class="testimonials-position" ><a href="#">Boxin Coaching</a></h6>
                                     <p>Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.</p>
                                    <ul class="social" >
                                        <li><a href="#"><i class="entypo-facebook" ></i></a></li>
                                        <li><a href="#"><i class="entypo-twitter" ></i></a></li>
                                        <li><a href="#"><i class="entypo-linkedin" ></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- item 4 -->    
                            <div class="element" >
                                <div class="link" >
                                    <img src="~/Images/img/trainers/01.jpg" alt="//" />
                                </div>
                                <div class="title">
                                    <h4 class="testimonials-name" ><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Fitness/Coach?name=trainer">  4 Mike Smithson</a></h4>
                                    <h6 class="testimonials-position" ><a href="#">Boxin Coaching</a></h6>
                                     <p>Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.</p>
                                    <ul class="social" >
                                        <li><a href="#"><i class="entypo-facebook" ></i></a></li>
                                        <li><a href="#"><i class="entypo-twitter" ></i></a></li>
                                        <li><a href="#"><i class="entypo-linkedin" ></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end items sets -->

                        <div class="item">

                            <!-- item 1 -->
                            <div class="element" >
                                <div class="link" >
                                    <img src="~/Images/img/trainers/01.jpg" alt="//" />
                                </div>
                                <div class="title">
                                    <h4 class="testimonials-name" ><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Fitness/Coach?name=trainer">  1 Peter Smithson</a></h4>
                                    <h6 class="testimonials-position" ><a href="#">Boxin Coaching</a></h6>
                                     <p>Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.</p>
                                    <ul class="social" >
                                        <li><a href="#"><i class="entypo-facebook" ></i></a></li>
                                        <li><a href="#"><i class="entypo-twitter" ></i></a></li>
                                        <li><a href="#"><i class="entypo-linkedin" ></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- item 2 -->
                            <div class="element" >
                                <div class="link" >
                                    <img src="~/Images/img/trainers/01.jpg" alt="//" />
                                </div>
                                <div class="title">
                                    <h4 class="testimonials-name" ><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Fitness/Coach?name=trainer">  2 Mike Smithson</a></h4>
                                    <h6 class="testimonials-position" ><a href="#">Boxin Coaching</a></h6>
                                     <p>Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.</p>
                                    <ul class="social" >
                                        <li><a href="#"><i class="entypo-facebook" ></i></a></li>
                                        <li><a href="#"><i class="entypo-twitter" ></i></a></li>
                                        <li><a href="#"><i class="entypo-linkedin" ></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- item 3 -->    
                            <div class="element" >
                                <div class="link" >
                                    <img src="~/Images/img/trainers/01.jpg" alt="//" />
                                </div>
                                <div class="title">
                                    <h4 class="testimonials-name" ><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Fitness/Coach?name=trainer">  3 Mike Smithson</a></h4>
                                    <h6 class="testimonials-position" ><a href="#">Boxin Coaching</a></h6>
                                     <p>Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.</p>
                                    <ul class="social" >
                                        <li><a href="#"><i class="entypo-facebook" ></i></a></li>
                                        <li><a href="#"><i class="entypo-twitter" ></i></a></li>
                                        <li><a href="#"><i class="entypo-linkedin" ></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- item 4 -->
                            <div class="element" >
                                <div class="link" >
                                    <img src="~/Images/img/trainers/01.jpg" alt="//" />
                                </div>
                                <div class="title">
                                    <h4 class="testimonials-name" ><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Fitness/Coach?name=trainer"> 4 Mike Smithson</a></h4>
                                    <h6 class="testimonials-position" ><a href="#">Boxin Coaching</a></h6>
                                     <p>Ut a molestie urna. Vestibulum malesuada, diam ut mollis varius, lorem urna euismod purus, ut varius est erat a orci.</p>
                                    <ul class="social" >
                                        <li><a href="#"><i class="entypo-facebook" ></i></a></li>
                                        <li><a href="#"><i class="entypo-twitter" ></i></a></li>
                                        <li><a href="#"><i class="entypo-linkedin" ></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </article>
        <!--end All Trainers -->


    