    <!-- Begin Content -->
    <section id="classes" >
        <div class="sub-header" >
            <div class="container">
                <div class="row" >
                    <ul class="sub-header-container" >
                        <li>
                            <h3 class="title">No pressure, no diamonds</h3>
                        </li>
                        <li>
                            <ul class="custom-breadcrumb" >
                                <li><h6><a href="index.html">Home</a></h6></li>
                                <li><i class="separator entypo-play" ></i></li>
                                <li><h6>Classes</h6></li>
                            </ul>                    
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- begin Classes -->
        <article class="article-container">
            <div class="container grid magic-grid" >
                <div class="row" >
                    <div class="col-md-12">
                    <h2 class="article-title" >Classes at the Club</h2>
                    <span class="line" >
                        <span class="sub-line" ></span>
                    </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 filters" >
                        <button class="button-gym normal-button" data-filter="*">view all</button>
                        <button class="button-gym normal-button" data-filter=".salsa">salsa</button>
                        <button class="button-gym normal-button" data-filter=".pilates">pilates</button>
                        <button class="button-gym normal-button" data-filter=".yoga">yoga</button>
                        <button class="button-gym normal-button" data-filter=".boxing">boxing</button>
                    </div>
                </div>

                <div class="row content">
                    <div class="element salsa" >
                        <div class="link" >
                            <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Classes/ViewClass?name=salsa"></a>
                            <img src="~/Images/img/classes/01.jpg" alt="//" />
                        </div>
                        <div class="title">
                            <h4>Salsa Classes 1</h4>
                            <p>Teacher: Mario Smithson</p>
                        </div>
                    </div>

                    <div class="element pilates" >
                        <div class="link" >
                            <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Classes/ViewClass?name=pilates"></a>
                            <img src="~/Images/img/classes/01.jpg" alt="//" />
                        </div>
                        <div class="title">
                            <h4>Pilates Classes</h4>
                            <p>Techers: Roxanne and Lisa Smithson</p>
                        </div>
                    </div>

                    <div class="element yoga" >
                        <div class="link" >
                            <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Classes/ViewClass?name=yoga" ></a>
                            <img src="~/Images/img/classes/01.jpg" alt="//" />
                        </div>
                        <div class="title">
                            <h4>Yoga Tantra</h4>
                            <p>Teachers: Adele and Nicole Smithson</p>
                        </div>
                    </div>
                        
                    <div class="element salsa" >
                        <div class="link" >
                            <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Classes/ViewClass?name=salsa"></a>
                            <img src="~/Images/img/classes/01.jpg" alt="//" />
                        </div>
                        <div class="title">
                            <h4>Peter Smithson</h4>
                            <p>Salsa and Bambo Teacher</p>
                        </div>
                    </div>

                    <div class="element pilates" >
                        <div class="link" >
                            <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Classes/ViewClass?name=pilates" ></a>
                            <img src="~/Images/img/classes/01.jpg" alt="//" />
                        </div>
                        <div class="title">
                            <h4>Tina Smithson</h4>
                            <p>Pilates</p>
                        </div>
                    </div>

                    <div class="element pilates" >
                        <div class="link" >
                            <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Classes/ViewClass?name=pilates"></a>
                            <img src="~/Images/img/classes/01.jpg" alt="//" />
                        </div>
                        <div class="title">
                            <h4>Bike Classes</h4>
                            <p>Teachers: Amanda and Mike Thomson</p>
                        </div>
                    </div>
                        
                    <div class="element boxing" >
                        <div class="link" >
                            <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Classes/ViewClass?name=boxing"></a>
                            <img src="~/Images/img/classes/01.jpg" alt="//" />
                        </div>
                        <div class="title">
                            <h4>Boxing</h4>
                            <p>Teacher: Peter Smithson</p>
                        </div>
                    </div>

                    <div class="element pilates" >
                        <div class="link" >
                            <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Classes/ViewClass?name=pilates"></a>
                            <img src="~/Images/img/classes/01.jpg" alt="//" />
                        </div>
                        <div class="title">
                            <h4>Pilates Classes</h4>
                            <p>Teacher: Mike Doeste</p>
                        </div>
                    </div>

                    <div class="element boxing" >
                        <div class="link" >
                            <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Classes/ViewClass?name=boxing"></a>
                            <img src="~/Images/img/classes/01.jpg" alt="//" />
                        </div>
                        <div class="title">
                            <h4>Spinning Classes</h4>
                            <p>Teachers: Lisa Smithson</p>
                        </div>
                    </div>
                </div>

            </div>
        </article> 
        <!-- end Classes --> 
        
 
    </section>

    <!-- END HOME -->


